<%include ../partials/header %>

<div class="page-container">
  <div class="content container">
    <h3>Edit "<%= blog.title %>"</h3>

    <form class="form" action="/blogs/<%=blog._id %>?_method=PUT" method="POST">
      <% /*html does not support put request, it defaults to get, so we use
      _method to override*/ %>
      <div class="field">
        <label>Title</label>
        <input type="text" name="blog[title]" value="<%=blog.title%>" />
      </div>
      <div class="field">
        <label>Image</label>
        <input type="text" name="blog[image]" value="<%=blog.image%>" />
      </div>

      <div class="field">
        <label>Blog Content</label>
        <textarea name="blog[body]" id="texteditor" required>
<%=blog.body%></textarea
        >
        <% /*text area doesnt have value*/ %>
      </div>

      <input class="purple button submit" type="submit" />
    </form>
  </div>

  <%include ../partials/footer %>
</div>
