<% include ../partials/header %>

<div class="index page-container">
  <div class="content">
    <div class="items">
      <% /*make each item divided*/ %>
      <% console.log("hello") %>
      <% blogs.forEach(function(blog){ %>
      <div class="item">

        <a href="/blogs/<%=blog._id %>">
          <img src="<%= blog.image %>" />
        </a>

        <!-- <div class="index_text"> -->
        <h3>
          <a href="/blogs/<%=blog._id %>" id="title">
            <%= blog.title %>
          </a>
        </h3>

        <span> <%= blog.created.toDateString() %> </span>

        <p><%-blog.body.substring(0,200);%>...</p>

        <a href="/blogs/<%=blog._id %>" class="read">
          Read More
        </a>

        <!-- </div> -->
        <!--index-text-->

      </div>
      <!--item-->

      <% }); %>
    </div>
    <!--items-->

  </div>
  <!--content-->

  <% include ../partials/footer %>
  <script>console.log("hello");</script>
</div>
<!--page-container-->