<% include ../partials/header %>

	<div class="container index">

		<div class="ui text" id="container_info">
			<% /* */ %>
				<div class="ui">
					<div class="ui items">
						<% /*make each item divided*/ %>

							<% blogs.forEach(function(blog){ %>
								<div class="item">
									<% /*each for loop is an item*/ %>

										<div class="ui medium image">
											<a href="/blogs/<%=blog._id %>">
												<img src="<%= blog.image %>"> </a>
										</div>

										<div class="content">

											<a href="/blogs/<%=blog._id %>" class="header" id="title">
												<%= blog.title %>
											</a>

											<div class="meta">
												<span class="cinema">
													<%= blog.created.toDateString() %>
												</span>
											</div>

											<div class="description">
												<p>
													<%-blog.body.substring(0,200);%>...</p>
											</div>

											<div class="extra">
												<a href="/blogs/<%=blog._id %>" class="read">
													Read More
													<i class="arrow right icon read"></i>
												</a>
											</div>

										</div>
								</div>

								<% }); %>
					</div>
				</div>
		</div>

		<div class="about">
			<div class="item">
				<img class="ui medium circular image" src="/img/me.jpg" <p> I am Yetunde. A web developer. I made this website to share my love of cooking. I live in Houston and my favorite type
				of food is Nigerian food</p>
				<div>
					<a href="/about" class="ui basic violet read">
						Read More
						<i class="arrow right icon read"></i>
					</a>
				</div>
			</div>
		</div>
	</div>