<% include ../partials/header %>

<div class="index page-container">
  <div class="content">
    <div class="items">
      <% /*make each item divided*/ %> <% blogs.forEach(function(blog){ %>
      <div class="item">
        <% /*each for loop is an item*/ %>

        <div id="medium_image">
          <a href="/blogs/<%=blog._id %>">
            <img src="<%= blog.image %>" />
          </a>
        </div>

        <div class="index_text">
          <h3>
            <a href="/blogs/<%=blog._id %>" id="title">
              <%= blog.title %>
            </a>
          </h3>

          <div id="meta">
            <span> <%= blog.created.toDateString() %> </span>
          </div>

          <div id="description">
            <p><%-blog.body.substring(0,200);%>...</p>
          </div>

          <div id="extra">
            <a href="/blogs/<%=blog._id %>" id="read">
              Read More
            </a>
          </div>
        </div>
      </div>

      <% }); %>
    </div>
  </div>

  <% include ../partials/footer %>
</div>
