<% include ../partials/header %>

<div class="index page-container">
  <div class="content">
    <div class="items">
      <% /*make each item divided*/ %>

      <% blogs.forEach(function(blog){ %>
      <div class="item">

        <div class="medium_image">
          <a href="/blogs/<%=blog._id %>">
            <img src="<%= blog.image %>" />
          </a>
        </div>

        <div class="index_text">
          <h3>
            <a href="/blogs/<%=blog._id %>" id="title">
              <%= blog.title %>
            </a>
          </h3>

          <div class="meta">
            <span> <%= blog.created.toDateString() %> </span>
          </div>

          <div class="description">
            <p><%-blog.body.substring(0,200);%>...</p>
          </div>

          <div class="extra">
            <a href="/blogs/<%=blog._id %>" class="read">
              Read More
            </a>
          </div>

        </div>

      </div>
      <!--item-->

      <% }); %>
    </div>
    <!--items-->

  </div>
  <!--content-->

  <% include ../partials/footer %>
</div>
<!--page-container-->