<%include ../partials/header %>

<div class="show page-container">
  <div class="content ">
    <h2 id="food_title"><%= blog.title%></h2>

    <div class="item">
      <img src="<%=blog.image%>" />
      <div class="show_content container">
        <span>
          <%= blog.created.toDateString() %> <%/*toDateString changes to proper
          date*/%>
        </span>

        <div class="segment">
          <div class="description">
            <%-blog.body%> <%/*- instead of = makes it evaluate as code instead
            of string*/%>
          </div>

          <% if(currentUser){ %>
          <div class="buttons">
            <a class="edit" href="/blogs/<%=blog._id %>/edit">Edit</a>
            <form
              method="POST"
              action="/blogs/<%=blog._id %>?_method=DELETE"
              class="delete"
            >
              <button>Delete</button>
            </form>
          </div>
          <% } %>
        </div>
      </div>
    </div>

    <div class="container ">
      <div class="segment">
        <a class="add" href="<%=blog._id%>/comments/new">Add New Comment</a>

        <%blog.comments.forEach(function(comment){ %>
        <div class="comments">
          <div class="comment">
            <a class="author">
              <%=comment.author%>
            </a>

            <span class="date">
              <%=comment.created_at.toDateString()%>
            </span>

            <% if(currentUser){ %>
            <div class="comment_buttons">
              <a href="/blogs/<%=blog._id%>/comments/<%=comment._id%>/edit">
                <i class="far fa-edit edit"></i>
              </a>

              <form
                method="POST"
                action="/blogs/<%=blog._id%>/comments/<%=comment._id %>?_method=DELETE"
                class="delete"
              >
                <button>
                  <i class="far fa-trash-alt"></i>
                </button>
              </form>
            </div>

            <% } %>

            <div class="text">
              <%=comment.text%>
            </div>
          </div>
          <div class="divider">
            <hr />
            <i class="far fa-comment"></i>
            <hr />
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </div>

  <%include ../partials/footer %>
</div>
