<%include ../partials/header %>
<div class="page-container">
  <div class="content container">
    <h3>Edit Comment</h3>

    <form
      class="form"
      action="/blogs/<%=blog_id%>/comments/<%=comment._id%>?_method=PUT"
      method="POST"
    >
      <div class="field">
        <label>Author *</label>
        <input
          type="text"
          name="comment[author]"
          value="<%= comment.author%>"
          required
        />
      </div>

      <div class="field">
        <label>Email *</label>
        <input
          type="email"
          name="comment[email]"
          value="<%= comment.email%>"
          required
        />
      </div>

      <div class="field">
        <label>Comment</label>
        <div>
          <textarea
            name="comment[text]"
            placeholder="text"
            cols="100"
            rows="10"
            required
          >
<%= comment.text %></textarea
          >
        </div>
      </div>

      <input class="submit" type="submit" />
    </form>
  </div>

  <%include ../partials/footer %>
</div>
